<!DOCTYPE html>
<html>
  <head>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      
    
      
  
  
  </head>
  <body>
<!----
   <nav class="navbar navbar-dark bg-dark">
    <button><a routerLink="/te" routerLinkActive="active">teacher</a></button>    
    <button><a routerLink="/st" routerLinkActive="active">student</a></button>
    </nav><br><br>
  -->

<!---
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/te">Teacher</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/st">Student<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>

  </nav><br><br> -->
   
<h3>Welcome, Jerry Chambers!</h3>

 <p>Congratulations on becoming an Adaptive Consultant! Before we can<br>
  start assigning you to placements please fill in the following details.
 </p><br>
 <hr style="background-color: rgb(100, 100, 172); height: 2px;"><br>
 

    
 <div id="container">
   <div id="left">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://flatlogic.github.io/awesome-bootstrap-checkbox/demo/build.css" />
    <div class="row">
        <div class="col">
            <div class="checkbox checkbox-primary checkbox-circle">
                <input id="chkDefault" type="checkbox" checked />
                <label for="chkPrimary">
                    Personal Details
                </label>
            </div>
            <div class="checkbox checkbox-primary checkbox-circle">
                <input id="chkPrimary" type="checkbox" checked />
                <label for="chkPrimary">
                    Proof of Identity
                </label>
            </div>
                <div class="checkbox checkbox-primary checkbox-circle">
                  <input id="chkPrimary" type="checkbox" checked />
                  <label for="chkPrimary">
                     Professional Details 
                  </label>
            </div>
            <div class="checkbox checkbox-primary checkbox-circle">
                <input id="chkInfo" type="checkbox" checked />
                <label for="chkInfo">
                    Professional Documents
                </label>
            </div>
            <div class="checkbox checkbox-primary checkbox-circle">
                <input id="chkSuccess" type="checkbox" checked />
                <label for="chkSuccess">
                    Company Details
                </label>
            </div>
            <div class="checkbox checkbox-primary checkbox-circle">
                <input id="chkWarning" type="checkbox"  />
                <label>Placement Preferences</label>
            </div>
            <div class="checkbox checkbox-primary checkbox-circle">
              <input id="chkWarning" type="checkbox" />
              <label for="chkWarning">
               Bank Details
              </label>
          </div>
        </div>
    </div>
    
    

     
   </div>

   <div id="right">
    <h3>Placement Preference</h3><br>
    <p>Rate of pay</p>

      

    <form>
      <div class="form-row">

        <div class="col">

          <div style="width: 75px;" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
             $
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">euro</a>
              <a class="dropdown-item" href="#">rs</a>
              
            </div>
          </div>
            </div>
          
          
        
        <div  style="margin-left: -100px; " class="col">
          <input type="text" class="form-control" placeholder="Minimum">
        </div>

        <div class="col">
          <p style="margin-right: -90px; margin-top: 5px;margin-left: 10px;">to</p>
        </div>
    
    
        <div style="margin-left: -150px;" class="col">
          <input type="text" class="form-control" placeholder="Maximum">
        </div>




        <div class="col">

          <div style="width: 75px;" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
             per day
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">euro</a>
              <a class="dropdown-item" href="#">rs</a>
              
            </div>
          </div>
            </div>
      </div>
<br>
<hr>
<br>
<P style="color:darkgrey">PLACEMENT LOCATIONS</P><BR>

      <div class="form-row">
<div class="col">
  <label>Country</label>
  <select class="form-control form-control-sm">
    <option></option>
    <option>INDIA</option>
  </select>
</div>
<div  class="col">
  
  <label>City</label>
  <select class="form-control">
    
    <option></option>
    <option>THIRUVARUR</option>
  </select>
</div>


      </div>
      <br>
      <div class="form-row">


        <p style="color: gainsboro;">Add another address</p>
      </div>

<hr>
<br>

<div class="form-row">
  <div class="col">
    <label>Availability</label>
    <select class="form-control form-control-sm">
      <option>Full-time</option>
      <option></option>
    </select>
  </div>
  <div  class="col">
    
    <label>Notice Period</label>
    <select class="form-control">
      
      <option>20 days</option>
      <option>30 days</option>
    </select>
  </div>
  <div class="col">
    <p style="color: lightgrey; margin-left: -50px;">in days</p>
  </div>
  
  
        </div>
        <br><br>
        
        <div class="form-row">
          <div class="col">
            <button class="button button4">Next</button>

          </div>
          <div class="col">
            <button type="button" style="color: blue; margin-left: -250px;" class="btn btn-light">Skip
            </button>
          </div>
        </div>






    </form>





  </div>
  
  </div>
  
 
   
  

    












<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    


<router-outlet></router-outlet>
    
  </body>
</html>













  
