<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>

<div style="text-align: center ;
width: 600px;
  height: 400px;  
  padding: 50px;
  margin-left: 300px;
  box-shadow: 3px 3px black;
  border: 2px solid rgb(39, 30, 30);
;

    ">
<label style="margin-right: 40px;">NAME:</label>
<input style="background-color: darkgray;"type="text" [ngModel]="tname"><br><br>

<label style="margin-right: 48px;">AGE:</label>
<input style="background-color: darkgray;" type="text" [ngModel]="tage"><br><br>

<label style="margin-right: 20px;">QUALIFY:     </label>
<input style="background-color: darkgray;" type="text" [ngModel]="tq"><br><br>

<label style="margin-right: 20px;">ADDRESS:    </label>
<input style="background-color: darkgray;"   type="textArea" [ngModel]="tadd"><br><br>
<button type="button" class="btn btn-primary">submit</button>
</div>


    </body>
</html>
